

@import "../../_shared/css/menu.scss";

.title{
    color:#008577;
    font-size: medium;
}
.date{
    font-size: small;
}

::ng-deep .nav-tabs .nav-link, .nav-pills .nav-link {
padding: 0.5rem 1rem;

}
::ng-deep .radio label, label.radio-inline{
    padding-left: 0%;
    padding-right: 5px;
  }
